* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#banner {
  background-color: #ffffff;
  background-image: url('https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/sn-bigfootH.jpg?itok=Lt3JPra5');
  background-position: center;
  background-size: cover;
  padding: 13vh 20px;
  text-align: center;
  text-shadow: 0 10px 11px black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: rgb(250, 250, 250);
}



#description  {
  text-align:center;
}

.description h5 {
  flex: 1;
}

#banner p{
  text-shadow: 0 10px 11px black;
  font-family: "Georgia", 'Times New Roman', serif, Arial, sans-serif;
  font-size: 1em;
  padding-top: 50px;
}

nav {
  margin-top: 10px;
  margin-right: 10px;
}

button  {
  color:rgb(230, 230, 230);
  border: none;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9pt;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  button#winter  {
    background-color: #1f77b4;
  }

  button#spring  {
    background-color: #d62728;
  }

  button#summer  {
    background-color: #2ca02c;
  }

  button#fall  {
    background-color: #ff7f0e;
  }

#middle-content {
  display:flex;
  height:50%;
}

#bottom-content {
  display:flex;
  height:50%;
}

.bottom-content {
  display:flex;
  height:50%;
}

#picture1 {
  width: 65%;
  height: 60vh;
  display: flex;
  padding-left: 20px;
  background-image: url('https://www.outsideonline.com/sites/default/files/styles/full-page/public/2016/07/08/bigfoot-roger-patterson-1_h.jpg?itok=0or8lHqq');
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#text-bottom {
  display: flex;
  width: 35%;
  padding-left: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#text-bottom p{
  font-family: "Georgia", 'Times New Roman', serif, Arial, sans-serif;
  font-size: 14pt;
  padding-top: 0px;
  padding-right: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.middle-content {
  display:flex;
  height:50%;
}

#chart {
  width: 75%;
  height: 90vh;
  display: flex;
  padding-left: 20px;
}

.state {
  fill: rgb(38, 82, 24);
  stroke:  rgb(108, 129, 113);
  stroke-width: .7;
}

#slider {
  padding: 30px;
  width:75%;
}

#selectYear {
  width: 100%;
}

.yearLabel {
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 4.5em;
  font-weight: 700;
  fill: rgb(144, 157, 51);
  cursor: default;
}

#tooltip  {
  display: flex;
  width: 25%;
  height: 70%;
  background-color: rgba(108, 129, 113, 0.8);
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 10px;
}

.tooltip {
  margin: 0px;
  left: 2px;
  top: 1px;
  visibility: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 10pt;
  height:550px;
  overflow-y: scroll;
  color: rgb(230, 230, 230);
  padding: 15px;
  /*pointer-events: none;*/
}


.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 1;
  font-family: "Georgia", 'Times New Roman', serif, Arial, sans-serif;
  font-size: 14pt;
}

.section div {
  fill: rgb(38, 82, 24);
  background-color: rgba(108, 129, 113, 0.8);
  flex: 2;
  height: 450px;
  border-radius: 4px;
  margin: 20px;
}

@media (max-width: 400px) {
  .section {
    flex-direction: column-reverse;
  }
  .section svg {
    flex: none;
  }
}

footer {
  background-color: rgb(136, 136, 136);
  background-position: center;
  background-size: cover;
  padding: 17vh 20px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

footer p  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}