* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#banner {
  background-color: #ffffff;
  background-image: url('https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/sn-bigfootH.jpg?itok=Lt3JPra5');
  background-position: center;
  background-size: cover;
  padding: 17vh 20px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

#description  {
  text-align:center;
}

.description h5 {
  flex: 1;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

#chart {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.state {
  fill: rgb(38, 82, 24);
  stroke:  rgb(108, 129, 113);
  stroke-width: 0.5;
}

#slider {
  padding: 50px;
  width:100%;
}

#selectYear {
  width: 100%;
  position: center;
}

.yearLabel {
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 6em;
  font-weight: 700;
  fill: rgb(144, 157, 51);
  cursor: default;
}

.tooltip {
  position: absolute;
  left: 2px;
  top: 1px;
  visibility: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 11pt;
  color: rgb(230, 230, 230);
  background-color: rgba(108, 129, 113, 0.8);
  padding: 5px;
  pointer-events: none;
}

.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 1;
}

.section div {
  border: 1px solid rgb(0, 0, 0);
  background-color:  rgb(121, 121, 121);
  flex: 2;
  height: 300px;
  margin: 20px;
}

@media (max-width: 400px) {
  .section {
    flex-direction: column-reverse;
  }
  .section svg {
    flex: none;
  }
}

footer {
  background-color: rgb(136, 136, 136);
  background-position: center;
  background-size: cover;
  padding: 17vh 20px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}