body {
    font-family: "Avenir";
    margin: 0;
  }
  
  #banner {
    background-color: #ffffff;
    background-image: url('https://specials-images.forbesimg.com/imageserve/5dd5bb37ea103f000652ec3f/960x0.jpg?fit=scale');
    background-position: center;
    background-size: cover;
    padding: 20vh 20px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .section {
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 1px gray;
    flex: 2;
    height: 300px;
    margin: 20px;
  }

  @media (max-width: 600px) {
    .section {
      flex-direction: column-reverse;
    }
    .section svg {
      flex: none;
    }
  }

  #tooltip {
    display: none;
    position: absolute;
  }